{% extends 'layout.html' %}

{% block content %}
    <div id="content__page__header" class="d-flex justify-content-between align-items-center">
        <span>Inits</span>
        <a href="{{url_for('new_init')}}" class="btn btn-primary">Add new init</a>
    </div>
    <div id="content__page__body">
        <table class="table">
            <thead>
            <tr>
                <th style="width: 12%">Product</th>
                <th style="width: 13%">Client</th>
                <th style="width: 20%">Created On</th>
                <th style="width: 15%"></th>
            </tr>
            </thead>
            <tbody>
            {% for init in inits: %}
                <tr>
                    <td>{{ init.Product.Product_name }}</td>
                    <td>{{ init.Client.Client_name }}</td>
                    <td>{{ init.CreatedOn.strftime("%b %d %Y %H:%M:%S")  }}</td>
                    <td class="d-flex justify-content-end">
                        <a href="{{url_for('update_init', uuid=init.init_id)}}" class="btn btn-success">Edit</a>
                        <form method="post" action="{{url_for('delete_init', uuid=init.init_id)}}" class="delete-record">
                            <input type="submit" value="Delete" class="btn btn-danger"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}