{% extends 'layout.html' %}

{% block content %}
            <div id="content__page__header" class="d-flex justify-content-between align-items-center">
                <span>Clients</span>
                <a href="{{url_for('new_client')}}" class="btn btn-primary">New client(add)</a>
            </div>
            <div id="content__page__body">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 30%">Client_name</th>
                            <th style="width: 30%">Age</th>
                            <th style="width: 30%">Money</th>
                            <th style="width: 30%">Contact</th>
                            <th style="width: 30%">Created On</th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients: %}
                        <tr>
                            <td>{{client.Client_name}}</td>
							<td>{{client.Age}}</td>
							<td>{{client.Money}}</td>
							<td>{{client.Contact}}</td>
							<td>{{client.CreatedOn.strftime("%b %d %Y %H:%M:%S")}}</td>
                            <td class="d-flex justify-content-end">
                                <a href="{{url_for('update_client', uuid=client.client_id)}}" class="btn btn-success">Edit</a>
                                <form method="post" action="{{url_for('delete_client', uuid=client.client_id)}}" class="delete-record">
                                    <input type="submit" value="Delete" class="btn btn-danger"/>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
{% endblock %}